<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hk.smart">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application>
        <activity android:name=".smartads.shop.ShopActivity"></activity>
        <activity android:name=".smartads.spalsh.SmartSplashActivity" />

        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/FACEBOOK_APP_ID" /> <!-- <meta-data -->
        <!-- android:name="com.startapp.sdk.APPLICATION_ID" -->
        <!-- android:value="@string/STARTAPP_APP_ID" /> -->
        <!-- <meta-data -->
        <!-- android:name="com.startapp.sdk.RETURN_ADS_ENABLED" -->
        <!-- android:value="false" /> -->
        <provider
            android:name="com.startapp.sdk.adsbase.StartAppInitProvider"
            android:authorities="${applicationId}.startappinitprovider"
            tools:node="remove" />
    </application>

</manifest>